nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: rgb(100, 100, 100);
    font-weight: bold;
    margin: 0;
    
}

nav a {
    color: #FFF;
    text-decoration: none;
    padding: 20px;
    display: block;
}